.forgot-password-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-form h1 {
    text-align: center;
    color: #333;
  }
  .forgot-password-form form{
    padding: 10px;
    display: flex;
    align-items: center;
  }


  .forgot-password-form form input {
    width: 100%;
    margin-bottom: 10px;
  }
 
  
  .forgot-password-form button {
    width: 100%;
    margin-top: 10px;
  }
  
  .forgot-password-form p {
    text-align: center;
    margin-top: 15px;
  }